{% extends 'base.html' %}
{% block content %}


<div class="card-body">
    <div class="header-bar">
        <h2>Login</h2>
        <img src="https://www.animatedimages.org/data/media/275/animated-shoe-image-0036.gif" border="0" alt="animated-shoe-image-0036" style="margin-left: 350px; margin-top:-60px;">
        <a href="{% url 'dashboard' %}" class="links" style="margin-left: 220px;  margin-top: 70px;">&#8592; Back to Dashboard</a>
        <a href="{% url 'register' %}" class="links" style="margin-top: 70px; margin-left: 10px;">Register</a>
    </div>
    
    <form method="post" style="margin-left: 20px; margin-top: 20px;">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="button" style=" margin-bottom: 5px; height: 40px; width: 100px;" value="Login">
</form>
</div>
{% endblock content%}