{% extends 'base.html' %}

{% block content %}

{% load static %}
    <div class="card-body card" style="width: 18rem;">
    <img class="card-img-top" src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,b_rgb:f5f5f5/d4afa40b-0375-4da9-9394-ec8624adfa76/giannis-backpack-QlP8JM.png" alt="Card image cap" style="width: 250px;">
    <br>
    <h5 class="card-title">Product Name</h5>
    <p class="card-text">Product price</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
    </div>

{% endblock %}