{% extends 'base.html' %}

{% block content %}


<div class="card-body">
  <div class="header-bar">

    <h2>Sign up</h2>
    <img src="https://www.animatedimages.org/data/media/275/animated-shoe-image-0036.gif" border="0" alt="animated-shoe-image-0036" style="margin-left: 350px; margin-top:-60px;">
    <br>
    <a href="{% url 'dashboard' %}" class="links" style="margin-left: 220px; margin-top: 70px;" > &#8592; Back to Dashboard</a>
    <a href="{% url 'login' %}" class="links" style="margin-top: 70px; margin-left: 15px;">Login</a>
  </div>
    
  <form method="post" style="margin-top: 10px; margin-left: 10px; ">
    {% csrf_token %}
    <label style="margin-right: 100px;">{{form.username.label}}</label>
    {{form.username}}
    <br>
    <br>
    <label style="margin-right: 105px;">{{form.password1.label}}</label>
    {{form.password1}}
    <br>
    <br>
    <label style="margin-right: 10px;">{{form.password2.label}}</label>
    {{form.password2}}
    <br>
    <br>
    <button style="margin-bottom: 10px;" type="submit" class="button">Register</button>
  </form>
</div>

{% endblock %}